body{
    background: #aaaaaa;
    color:#333;
    padding:30px;
}

#musicgame{
    position: relative;
    width:768px;
    height:498px;
    overflow: hidden;
}

.scene{
    position: absolute;
    width:100%;
    height:100%;
}

#menu-scene{
    background: #ccc url("../images/menu_bg.jpg") ;
/*url*/
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#game-scene{
    background: #efefef url("../images/game_bg.jpg");
/**/
}

#game-canvas,#game-background-canvas{
    position: absolute;
}

a[href="#game"]{
    width:140px;
    height:88px;
    background:url("../images/play_button.png");
    display: block;
    overflow: hidden;
}