#playground{
    background-color:#e0fef0;
    width:400px;
    height:300px;
    position: relative;
    overflow: hidden;
}
.paddle{
    background-color: aqua;
    width:30px;
    height: 70px;
    left:50px;
    top:110px;
    position: absolute;
}
#paddleB{
    left:300px;
}
#ball{
    background-color: brown;
    width:20px;
    height:20px;
    position:absolute;
    top:150px;
    left:150px;
    border-radius: 10px;
}

/*#playground{*/
    /*background: #e0ffe0;*/
    /*width: 400px;*/
    /*height: 200px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*#ball {*/
    /*background: #fbb;*/
    /*position: absolute;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*left: 150px;*/
    /*top: 100px;*/
    /*border-radius: 10px;*/
/*}*/
/*.paddle {*/
    /*background: #bbf;*/
    /*left: 50px;*/
    /*top: 70px;*/
    /*position: absolute;*/
    /*width: 30px;*/
    /*height: 70px;*/
/*}*/
/*#paddleB {*/
    /*left: 320px;*/
/*}*/